.controls {
    align-items: center;
    background-color: #000;
    border-bottom: solid 1px #fff;
    border-left: solid 1px #fff;  
    display: flex;
    height: 75px;
    justify-content: center;
    right: 0;
    position: fixed;
    width: 75px;
    top: 0;
}

.controls__add {
    background: var(--secondary);
    border-radius: 50%;
    color: var(--tertiary);
    flex: 0 0 50px;
    font-size: 24px;
    font-weight: bold;
    height: 50px;
}