.season {
    border: solid var(--secondary) 1px;
    border-left-width: 5px;
    border-right-width: 5px;
    color: #fff;
    flex: 0 0 calc(100% - 5px);
    overflow: hidden;
    padding: 5px;

    &:first-of-type {
        border-top-width: 5px;
    }

    &:last-of-type {
        border-bottom-width: 5px;
    }
}

.season__episodes {
    display: flex;
    flex-wrap: wrap;
}