h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
select,
option,
div {
    font-family: 'Quicksand', Arial, sans-serif;
    line-height: 1;
}

button {
    border-radius: 0;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
}

h1 {
    font-family: 'Instrument Serif', serif;
    font-size: 24px;
}

h2 {
    font-size: 16px;
    margin-left: 5px;
    margin-bottom: 5px;
}

h3 {
    font-size: 12px;
}

p {
    font-size: 10px;
    margin: 5px 0 5px 5px;
}